

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 3px;
}

body {
background: burlywood;
  font-family: "Helvetica",
  sans-serif;
  padding: 65px;
}

nav {
  z-index: 500;
  background: #234465;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

nav ul {
  text-align: center;
  margin: 0;
  padding: 10px;
}

#right {
float: right;
}

#left {
color: red;
float: left;
}

#myVideo {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#size {
font-size: 5vw;
}
