{% extends 'index.html' %}
{% block 'body' %}
<body style="background-color: green">
{% if request.user.is_superuser %}
<div class="container">
    <div class="row">
       {% for user in users %}
         <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h1 class="card-title">{{user.username}}</h1>
       <h3 class="card-title">Age: {{user.user.age}}</h3>

    <a href="{% url 'user_list2' user.user.id %}" class="btn btn-primary">Get his/her content</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<h2>Sorry my friend!</h2>
{% endif %}
{% endblock %}