{% load static %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Intro</title>
    <link rel="stylesheet" href="{% static 'intro.css' %}" />
    <style>
       h1 {text-align: center;}
       nav ul li {text-align: center;}

    </style>
</head>
<body>

    <div class="content">
        <nav>
            <ul>
                <li>
                    <a href="homepage/">DriveClub</a>
                </li>
            </ul>
        </nav>
        <h1 id="color">Powered by Python</h1>

    </div>
</body>
</html>